gea/src/test/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="msg">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LeaderHeader"/>
                <xs:element ref="MessageHeader"/>
                <xs:element ref="MessageData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LeaderHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MSGREFNO"/>
                <xs:element ref="USRPRF"/>
                <xs:element ref="WKSID"/>
                <xs:element ref="OBJID"/>
                <xs:element ref="VRBID"/>
                <xs:element ref="TOTMSGLNG"/>
                <xs:element ref="OPMODE"/>
                <xs:element ref="CMTCONTROL"/>
                <xs:element ref="RSPMODE"/>
                <xs:element ref="MSGINDENT"/>
                <xs:element ref="MORE-IND"/>
                <xs:element ref="ERRLVL"/>
                <xs:element ref="FILLER"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MSGREFNO" type="xs:string"/>
    <xs:element name="USRPRF" type="xs:string"/>
    <xs:element name="WKSID" type="xs:string"/>
    <xs:element name="OBJID" type="xs:string"/>
    <xs:element name="VRBID" type="xs:string"/>
    <xs:element name="TOTMSGLNG" type="xs:string"/>
    <xs:element name="OPMODE" type="xs:string"/>
    <xs:element name="CMTCONTROL" type="xs:string"/>
    <xs:element name="RSPMODE" type="xs:string"/>
    <xs:element name="MSGINDENT" type="xs:string"/>
    <xs:element name="MORE-IND" type="xs:string"/>
    <xs:element name="ERRLVL" type="xs:string"/>
    <xs:element name="MessageHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MSGID"/>
                <xs:element ref="MSGLNG"/>
                <xs:element ref="MSGCNT"/>
                <xs:element ref="FILLER"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MSGID" type="xs:string"/>
    <xs:element name="MSGLNG" type="xs:string"/>
    <xs:element name="MSGCNT" type="xs:string"/>
    <xs:element name="MessageData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CLNTPFX"/>
                <xs:element ref="CLNTCOY"/>
                <xs:element ref="CLNTNUM"/>
                <xs:element ref="VALIDFLAG"/>
                <xs:element ref="CLTTYPE"/>
                <xs:element ref="SECUITYNO"/>
                <xs:element ref="PAYROLLNO"/>
                <xs:element ref="LSURNAME"/>
                <xs:element ref="LGIVNAME"/>
                <xs:element ref="INITIALS"/>
                <xs:element ref="CLTSEX"/>
                <xs:element ref="CLTADDR01"/>
                <xs:element ref="CLTADDR02"/>
                <xs:element ref="CLTADDR03"/>
                <xs:element ref="CLTADDR04"/>
                <xs:element ref="CLTADDR05"/>
                <xs:element ref="CLTPCODE"/>
                <xs:element ref="CTRYCODE"/>
                <xs:element ref="MAILING"/>
                <xs:element ref="DIRMAIL"/>
                <xs:element ref="ADDRTYPE"/>
                <xs:element ref="CLTPHONE01"/>
                <xs:element ref="CLTPHONE02"/>
                <xs:element ref="VIP"/>
                <xs:element ref="OCCPCODE"/>
                <xs:element ref="SERVBRH"/>
                <xs:element ref="STATCODE"/>
                <xs:element ref="DOBCCYY"/>
                <xs:element ref="DOBMM"/>
                <xs:element ref="DOBDD"/>
                <xs:element ref="SOE"/>
                <xs:element ref="DOCNO"/>
                <xs:element ref="DODCCYY"/>
                <xs:element ref="DODMM"/>
                <xs:element ref="DODDD"/>
                <xs:element ref="CLTSTAT"/>
                <xs:element ref="CLTMCHG"/>
                <xs:element ref="SALUTL"/>
                <xs:element ref="MARRYD"/>
                <xs:element ref="TLXNO"/>
                <xs:element ref="FAXNO"/>
                <xs:element ref="TGRAM"/>
                <xs:element ref="BIRTHP"/>
                <xs:element ref="NATLTY"/>
                <xs:element ref="FAO"/>
                <xs:element ref="CLTIND"/>
                <xs:element ref="STATE"/>
                <xs:element ref="ROLEFLAG01"/>
                <xs:element ref="ROLEFLAG02"/>
                <xs:element ref="ROLEFLAG03"/>
                <xs:element ref="ROLEFLAG04"/>
                <xs:element ref="ROLEFLAG05"/>
                <xs:element ref="ROLEFLAG06"/>
                <xs:element ref="ROLEFLAG07"/>
                <xs:element ref="ROLEFLAG08"/>
                <xs:element ref="ROLEFLAG09"/>
                <xs:element ref="ROLEFLAG10"/>
                <xs:element ref="ROLEFLAG11"/>
                <xs:element ref="ROLEFLAG12"/>
                <xs:element ref="ROLEFLAG13"/>
                <xs:element ref="ROLEFLAG14"/>
                <xs:element ref="ROLEFLAG15"/>
                <xs:element ref="ROLEFLAG16"/>
                <xs:element ref="ROLEFLAG17"/>
                <xs:element ref="ROLEFLAG18"/>
                <xs:element ref="ROLEFLAG19"/>
                <xs:element ref="ROLEFLAG20"/>
                <xs:element ref="ROLEFLAG21"/>
                <xs:element ref="ROLEFLAG22"/>
                <xs:element ref="ROLEFLAG23"/>
                <xs:element ref="ROLEFLAG24"/>
                <xs:element ref="ROLEFLAG25"/>
                <xs:element ref="ROLEFLAG26"/>
                <xs:element ref="ROLEFLAG27"/>
                <xs:element ref="ROLEFLAG28"/>
                <xs:element ref="ROLEFLAG29"/>
                <xs:element ref="ROLEFLAG30"/>
                <xs:element ref="ROLEFLAG31"/>
                <xs:element ref="ROLEFLAG32"/>
                <xs:element ref="ROLEFLAG33"/>
                <xs:element ref="ROLEFLAG34"/>
                <xs:element ref="ROLEFLAG35"/>
                <xs:element ref="STARTCCYY"/>
                <xs:element ref="STARTMM"/>
                <xs:element ref="STARTDD"/>
                <xs:element ref="ECACT"/>
                <xs:element ref="STAFFNO"/>
                <xs:element ref="CAPITAL"/>
                <xs:element ref="CTRYORIG"/>
                <xs:element ref="LANGUAGE"/>
                <xs:element ref="CHDRSTCDA"/>
                <xs:element ref="CHDRSTCDB"/>
                <xs:element ref="CHDRSTCDC"/>
                <xs:element ref="CHDRSTCDD"/>
                <xs:element ref="CHDRSTCDE"/>
                <xs:element ref="SNDXCDE"/>
                <xs:element ref="SOIN"/>
                <xs:element ref="RACR"/>
                <xs:element ref="CATGRY"/>
                <xs:element ref="RINTERNET"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CLNTPFX" type="xs:string"/>
    <xs:element name="CLNTCOY" type="xs:string"/>
    <xs:element name="CLNTNUM" type="xs:string"/>
    <xs:element name="VALIDFLAG" type="xs:string"/>
    <xs:element name="CLTTYPE" type="xs:string"/>
    <xs:element name="SECUITYNO" type="xs:string">
    </xs:element>
    <xs:element name="PAYROLLNO" type="xs:string">
    </xs:element>
    <xs:element name="LSURNAME" type="xs:string"/>
    <xs:element name="LGIVNAME" type="xs:string">
    </xs:element>
    <xs:element name="INITIALS" type="xs:string">
    </xs:element>
    <xs:element name="CLTSEX" type="xs:string">
    </xs:element>
    <xs:element name="CLTADDR01" type="xs:string"/>
    <xs:element name="CLTADDR02" type="xs:string"/>
    <xs:element name="CLTADDR03" type="xs:string"/>
    <xs:element name="CLTADDR04" type="xs:string">
    </xs:element>
    <xs:element name="CLTADDR05" type="xs:string">
    </xs:element>
    <xs:element name="CLTPCODE" type="xs:string"/>
    <xs:element name="CTRYCODE" type="xs:string"/>
    <xs:element name="MAILING" type="xs:string">
    </xs:element>
    <xs:element name="DIRMAIL" type="xs:string">
    </xs:element>
    <xs:element name="ADDRTYPE" type="xs:string">
    </xs:element>
    <xs:element name="CLTPHONE01" type="xs:string">
    </xs:element>
    <xs:element name="CLTPHONE02" type="xs:string">
    </xs:element>
    <xs:element name="VIP" type="xs:string">
    </xs:element>
    <xs:element name="OCCPCODE" type="xs:string">
    </xs:element>
    <xs:element name="SERVBRH" type="xs:string"/>
    <xs:element name="STATCODE" type="xs:string">
    </xs:element>
    <xs:element name="DOBCCYY" type="xs:string"/>
    <xs:element name="DOBMM" type="xs:string"/>
    <xs:element name="DOBDD" type="xs:string"/>
    <xs:element name="SOE" type="xs:string">
    </xs:element>
    <xs:element name="DOCNO" type="xs:string">
    </xs:element>
    <xs:element name="DODCCYY" type="xs:string"/>
    <xs:element name="DODMM" type="xs:string"/>
    <xs:element name="DODDD" type="xs:string"/>
    <xs:element name="CLTSTAT" type="xs:string"/>
    <xs:element name="CLTMCHG" type="xs:string"/>
    <xs:element name="SALUTL" type="xs:string">
    </xs:element>
    <xs:element name="MARRYD" type="xs:string">
    </xs:element>
    <xs:element name="TLXNO" type="xs:string">
    </xs:element>
    <xs:element name="FAXNO" type="xs:string">
    </xs:element>
    <xs:element name="TGRAM" type="xs:string">
    </xs:element>
    <xs:element name="BIRTHP" type="xs:string">
    </xs:element>
    <xs:element name="NATLTY" type="xs:string">
    </xs:element>
    <xs:element name="FAO" type="xs:string">
    </xs:element>
    <xs:element name="CLTIND" type="xs:string"/>
    <xs:element name="STATE" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG01" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG02" type="xs:string"/>
    <xs:element name="ROLEFLAG03" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG04" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG05" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG06" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG07" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG08" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG09" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG10" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG11" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG12" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG13" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG14" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG15" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG16" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG17" type="xs:string"/>
    <xs:element name="ROLEFLAG18" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG19" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG20" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG21" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG22" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG23" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG24" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG25" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG26" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG27" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG28" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG29" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG30" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG31" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG32" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG33" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG34" type="xs:string">
    </xs:element>
    <xs:element name="ROLEFLAG35" type="xs:string">
    </xs:element>
    <xs:element name="STARTCCYY" type="xs:string"/>
    <xs:element name="STARTMM" type="xs:string"/>
    <xs:element name="STARTDD" type="xs:string"/>
    <xs:element name="ECACT" type="xs:string">
    </xs:element>
    <xs:element name="STAFFNO" type="xs:string">
    </xs:element>
    <xs:element name="CAPITAL" type="xs:string"/>
    <xs:element name="CTRYORIG" type="xs:string">
    </xs:element>
    <xs:element name="LANGUAGE" type="xs:string"/>
    <xs:element name="CHDRSTCDA" type="xs:string">
    </xs:element>
    <xs:element name="CHDRSTCDB" type="xs:string">
    </xs:element>
    <xs:element name="CHDRSTCDC" type="xs:string">
    </xs:element>
    <xs:element name="CHDRSTCDD" type="xs:string">
    </xs:element>
    <xs:element name="CHDRSTCDE" type="xs:string">
    </xs:element>
    <xs:element name="SNDXCDE" type="xs:string">
    </xs:element>
    <xs:element name="SOIN" type="xs:string">
    </xs:element>
    <xs:element name="RACR" type="xs:string">
    </xs:element>
    <xs:element name="CATGRY" type="xs:string">
    </xs:element>
    <xs:element name="RINTERNET" type="xs:string">
    </xs:element>
    <xs:element name="FILLER" type="xs:string">
    </xs:element>
</xs:schema>
